.profile {
  padding: 10px;
  display: flex;
  margin: 10px;
}
.profile_head {
  display: flex;
  justify-content: space-between;
}

.top_profile {
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 50px;
  background-color: white;
}

.top_profiledetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_profiledetails > img {
  object-fit: contain;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.profile_buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
